button {
  margin-top: 20px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}


a {
  color: #2d3436;
  text-decoration: none;
  background: #dfe6e9;
  border-style: solid;
  border-radius: 15px;
  border-color: #2d3436;
  border-width: 5px;
  padding: 5px;
  margin: 5px;
}

a.selected {
  color: #dfe6e9;
  border-color: #dfe6e9;
  background: #2d3436;
}

.nav-container {
  width: 100vw;
  bottom: 10px;
  position: fixed;
  text-align: center;
}
