a {
  color: #636e72;
  text-decoration: none;
  background: #dfe6e9;
  border-style: solid;
  border-radius: 15px;
  border-color: #636e72;
  border-width: 5px;
  padding: 5px;
  margin: 5px;
}

a.selected {
  color: #dfe6e9;
  border-color: #dfe6e9;
  background: #636e72;
}

.nav-container {
  width: 100vw;
  bottom: 10px;
  position: fixed;
  text-align: center;
}

.nav-button:hover {
  color: #dfe6e9;
  border-color: #dfe6e9;
  background: #636e72;
}

h2 {
  font-size: 140%;
  font-weight: bold;
}

.left-container {
  background: #dfe6e9;
  width: 35vw;
  height: 50vh;
  left: 0;
  margin: 10px 10px 10px 7.5vw;
  border-style: solid;
  border-radius: 15px;
  border-color: #636e72;
  border-width: 5px;
  color: #636e72;
  padding: 10px;
  position: fixed;
  top: 20vh;
  font-size: 140%;
}

.right-container {
  background: #dfe6e9;
  width: 35vw;
  height: 50vh;
  right: 0;
  margin: 10px 7.5vw 10px 10px;
  border-style: solid;
  border-radius: 15px;
  border-color: #636e72;
  border-width: 5px;
  color: #636e72;
  padding: 10px;
  position: fixed;
  top: 20vh;
  font-size: 140%;
}

#back {
  position: fixed;
  left: 0;
  bottom: 0;
  color: #636e72;
  text-decoration: none;
  background: #dfe6e9;
  border-style: solid;
  border-radius: 15px;
  border-color: #636e72;
  border-width: 5px;
  padding: 5px;
  margin: 5px;
}

#back:hover {
  color: #dfe6e9;
  border-color: #dfe6e9;
  background: #636e72;
}

.button {
  margin-top: 20px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #cfd8dc;
}

.button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.full-container {
  width: 60vw;
  margin: 10px 10px 10px 20vw;
  text-align: center;
}
