<div *ngIf="this.selectedTopic" style="text-align: center; top: 50px; position: relative; "><h1
  style="font-size: 69px"> {{selectedTopic.name.toUpperCase()}} </h1>
</div>

<div *ngIf="this.selectedTopic.container_left_title" class="left-container" [class.full-container]="!this.selectedTopic.container_right_title">
  <h2>{{this.selectedTopic.container_left_title}}</h2>
  <ul>
    <li *ngFor="let entry of selectedTopic.container_left">
      {{entry.toUpperCase()}}</li>
  </ul>
</div>

<div *ngIf="this.selectedTopic.container_right_title" class="right-container" [class.full-container]="!this.selectedTopic.container_left_title">
  <h2>{{this.selectedTopic.container_right_title}}</h2>
  <ul>
    <li *ngFor="let entry of selectedTopic.container_right">
      {{entry.toUpperCase()}}</li>
  </ul>
</div>

<div *ngIf="this.selectedTopic" class="nav-container">
  <nav class="navigation">
    <a *ngFor="let topic of topics" class="nav-button" routerLink="/page/{{topic.name}}" [class.selected]="topic === this.selectedTopic"
       routerLinkActive="active">{{topic.name.toUpperCase()}}</a>
  </nav>
</div>

<button id="back" (click)="goBack()">🡐</button>
