button {
  margin-top: 20px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

a {
  color: #636e72;
  text-decoration: none;
  background: #dfe6e9;
  border-style: solid;
  border-radius: 15px;
  border-color: #636e72;
  border-width: 5px;
  padding: 5px;
  margin: 5px;
}

a.selected {
  color: #dfe6e9;
  border-color: #dfe6e9;
  background: #636e72;
}

.nav-container {
  width: 100vw;
  bottom: 10px;
  position: fixed;
  text-align: center;
}

.left-container {
  background: #dfe6e9;
  width: 30vw;
  height: 50vh;
  left: 0;
  margin: 10px 10px 10px 5vw;
  border-style: solid;
  border-radius: 15px;
  border-color: #636e72;
  border-width: 5px;
  color: #636e72;
  padding: 10px;
  position: fixed;
  top: 20vh;
}

.right-container {
  background: #dfe6e9;
  width: 30vw;
  height: 50vh;
  right: 0;
  margin: 10px 5vw 10px 10px;
  border-style: solid;
  border-radius: 15px;
  border-color: #636e72;
  border-width: 5px;
  color: #636e72;
  padding: 10px;
  position: fixed;
  top: 20vh;
}
