#tsparticles {
  height: 100vh;
  width: 100vw;
}

.background {
  display: flex;
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.content{
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
  position: relative;
  z-index: 100;
}
