<div class="content">
  <div class="nav-container">
    <nav class="navigation">
      <a routerLink="/page" routerLinkActive="active">Angular CLI</a>
      <a routerLink="/page" routerLinkActive="active">Requirements</a>
      <a routerLink="/page" routerLinkActive="active">Why Angular</a>
      <a routerLink="/page" routerLinkActive="active">Examples</a>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>

<div class="background">
  <Particles id="tsparticles" [options]="particlesOptions"></Particles>
</div>
