#tsparticles {
  height: 100vh;
  width: 100vw;
}

.background {
  display: flex;
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.content {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  z-index: 100;
}

a {
  color: #2d3436;
  text-decoration: none;
  background: #dfe6e9;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.navigation {
}

.nav-container {
  width: 100vw;
  bottom: 10px;
  position: fixed;
  text-align: center;
}
